<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header text-center text-white bg-dark">
        เข้าสู่ระบบ
      </div>
      <div class="card-body">
        <form>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" />
            </div>
          </div>
          <div class="row">
            <div class="col-6 text-left">
              <a class="text-muted" [routerLink]="['/signup']">
                สมัครสมาชิกใหม่ ?
              </a>
            </div>
            <div class="col-6 text-right">
              <button type="submit" class="btn btn-primary">
                <i class="fa fa-lock" aria-hidden="true"></i>
                เข้าสู่ระบบ
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
